input[type="range"] {
    --thumbSize: 40px;
    --trackSize: 8px;
    --thumbBg: #10D8C4;
    --trackBg: #ECF0FB;
    --progressBg: #A4F3EB;
  
    /* webkit progress workaround */
    --webkitProgressPercent: 0%;
  }
  
  input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: var(--thumbSize);
    width: 100%;
    margin: 0;
    padding: 0;
  }
  input[type="range"]:focus {
    outline: none;
  }
  
  /* Thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    background-image: url("/images/icon-slider.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: var(--thumbSize);
    height: var(--thumbSize);
    background-color: var(--thumbBg);
    border-radius: calc(var(--thumbSize) / 2);
    border: none;
    margin-top: calc(((var(--thumbSize) - var(--trackSize)) / 2) * -1);
    cursor: pointer;
  }
 
  
  /* Track */
  input[type="range"]::-webkit-slider-runnable-track {
    height: var(--trackSize);
    background-image: linear-gradient(
      90deg,
      var(--progressBg) var(--webkitProgressPercent),
      var(--trackBg) var(--webkitProgressPercent)
    );
    border-radius: calc(var(--trackSize) / 2);
  }

  